<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<settings>
			<setting name="SitecoreFundamentals.ExcludeRobotsByAgent.LogPrefix" value="SitecoreFundamentals.ExcludeRobotsByAgent ->"/>
			<setting name="SitecoreFundamentals.ExcludeRobotsByAgent.BlockWithIp" value="true"/>
			<setting name="SitecoreFundamentals.ExcludeRobotsByAgent.ExclusionValues" value="waitfor, select, sleep, delay, @@, insert, '), --"/>
			<setting name="SitecoreFundamentals.ExcludeRobotsByAgent.IgnoreValues" value=""/>
			<!-- Available tokens are {DateTime} {IP} {UserAgent} {URL}. Add {BREAK} for line breaks. -->
			<setting name="SitecoreFundamentals.ExcludeRobotsByAgent.SampleRecordFormat" value="Date/Time: {DateTime}{BREAK}IP: {IP}{BREAK}Agent: {UserAgent}{BREAK}Url: {URL}{BREAK}"/>
			<setting name="SitecoreFundamentals.ExcludeRobotsByAgent.DateTimeFormat" value="yyyy-MM-dd h:mm tt"/>
			<setting name="SitecoreFundamentals.ExcludeRobotsByAgent.SampleRecordsPerLogDump" value="60"/>
		</settings>
		<scheduling>
			<agent type="SitecoreFundamentals.ExcludeRobotsByAgent.Tasks.EmailReport, SitecoreFundamentals.ExcludeRobotsByAgent" method="Run" interval="00:20:00" />
		</scheduling>
		<pipelines>
			<excludeRobots>
				<processor
					type="SitecoreFundamentals.ExcludeRobotsByAgent.Pipelines.ExcludeRobots.CheckUserAgentUsingWildcard, SitecoreFundamentals.ExcludeRobotsByAgent"
					resolve="true"
					patch:after="processor[@type='Sitecore.Analytics.Pipelines.ExcludeRobots.CheckUserAgent, Sitecore.Analytics']" />
			</excludeRobots>
		</pipelines>
	</sitecore>
</configuration>