<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<settings>
			<setting name="SitecoreFundamentals.ExludeRobotsByAgent.ExclusionValues" value="from, delay, @@, insert, --"/>
			<setting name="SitecoreFundamentals.ExludeRobotsByAgent.MinimumAgentLength" value="20"/>
		</settings>
		<pipelines>
			<excludeRobots>
				<processor 
					type="SitecoreFundamentals.ExludeRobotsByAgent.Pipelines.ExcludeRobots.CheckUserAgentUsingWildcard, SitecoreFundamentals.ExludeRobotsByAgent" 
					resolve="true" 
					patch:after="processor[@type='Sitecore.Analytics.Pipelines.ExcludeRobots.CheckUserAgent, Sitecore.Analytics']" />
			</excludeRobots>
		</pipelines>
	</sitecore>
</configuration>