<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<settings>
			<setting name="SitecoreFundamentals.ExludeRobotsByAgent.LogPrefix" value="SitecoreFundamentals.ExludeRobotsByAgent ->"/>
			<setting name="SitecoreFundamentals.ExludeRobotsByAgent.BlockWithIp" value="true"/>
			<setting name="SitecoreFundamentals.ExludeRobotsByAgent.ExclusionValues" value="waitfor, select, sleep, delay, @@, insert, )), '), --"/>
			<!-- Available tokens are {DateTime} {IP} {UserAgent} {URL}. Add {BREAK} for line breaks. -->
			<setting name="SitecoreFundamentals.ExludeRobotsByAgent.SampleRecordFormat" value="Date/Time: {DateTime}{BREAK}IP: {IP}{BREAK}Agent: {UserAgent}{BREAK}Url: {URL}{BREAK}"/>
			<setting name="SitecoreFundamentals.ExludeRobotsByAgent.DateTimeFormat" value="yyyy-MM-dd h:mm tt"/>
			<setting name="SitecoreFundamentals.ExludeRobotsByAgent.SampleRecordsPerLogDump" value="60"/>
		</settings>
		<scheduling>
			<agent type="SitecoreFundamentals.ExludeRobotsByAgent.Tasks.EmailReport, SitecoreFundamentals.ExludeRobotsByAgent" method="Run" interval="00:20:00" />
		</scheduling>
		<pipelines>
			<excludeRobots>
				<processor
					type="SitecoreFundamentals.ExludeRobotsByAgent.Pipelines.ExcludeRobots.CheckUserAgentUsingWildcard, SitecoreFundamentals.ExludeRobotsByAgent"
					resolve="true"
					patch:after="processor[@type='Sitecore.Analytics.Pipelines.ExcludeRobots.CheckUserAgent, Sitecore.Analytics']" />
			</excludeRobots>
		</pipelines>
	</sitecore>
</configuration>